
body{
    /* background-image: url(../img/three-background.png); */
    background-color: black;
    color: white;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Segoe UI';
}



/* ---------heard---------- */

header{
    /* width: 1920px;*/
    height: 200px;
    /* background-color: black; */
    margin-bottom: 21px;
}

.top img{
    /* height: 100%; */
    height: 130px;
    padding-top: 20px;
}

.top{
    /* height: 150px; */
    width: 1200px;
    /* width: 63%; */
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top ul{
    display: flex;
    /* background-color: brown; */
}

.top ul li{
    margin-right: 60px;
    position: relative;
    display: flex;
    font-size: 20px;

}

.top a{
    text-decoration: none;
    color: white;
}

.top li ol{
    display: none;
    position: absolute;
    top: 30px;

}

.top li ol a{
    display: block;
    width: 80px;
    /* text-align: center; */
}

.top li:hover > ol{
    display: block;
}



.bar img{
    width: 100%;
}


/* ---------main---------- */


.main{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .pic{
    width: 37%;
} */
.pic img{
    margin-top: 203px;
    /* width: 100%; */
}

.main h1{
    font-weight: bolder;
    text-align: left;
    font-size: 50px;
    margin-top: 203px;
    text-align: left;
}

.text{
    width: 665px;
    /* width: 50%; */
}

.words p {
    /* width: 665px; */
    margin-top: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
}



.btn button{
    display: block;
    width: 123px;
    height: 70px;
    border-radius: 50px;
    color: white;
    background-color: rgba(255, 4, 4, 1);
    text-align: center;
    line-height: 70px;
    float: right;
    /* position: absolute;
    top: 700px;
    right: 80px; */
    text-decoration: none;
}


/* ---------section---------- */



h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 126px;
}

.section{
    width: 100%;
    margin-top: 126px;
}

.learn{
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

/* .man{
    width: 50%;
} */

/* .man img{
    width: 90%;
} */

.man h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
    line-height: 1;
}

/* .ad{
    width: 50%;
} */

.ad ul{
    margin-left: 73px;
}

.ad li{
    list-style-type: upper-alpha;
    /* margin-left: 41px; */
}

.ad p{
    margin-bottom: 69px;
    margin-left: 41px;
}


/* ---------drink---------- */

.drink{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 137px;
    
}


.drink p{
    width: 617px;
    margin: 0 auto;
}

.drink a{
    text-decoration: none;
}

.drink img:hover{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(20deg); }
    40% { transform: rotate(-20deg); }
    60% { transform: rotate(20deg); }
    80% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
  }


/* ---------最後尾巴---------- */

footer img{
    width: 100%;
}

/* ---------警告標語---------- */

.warn{
    position: fixed;
    bottom: 0;
}


.warn img{
    width: 100%;
    display: block;
    height: auto
}
/* ---------hover---------- */


.main a:hover{
    color: black;
    background-color: white;
}

/* ------------------------------------------------rwd -------------------------------------------------------*/

@media screen and (max-width: 414px){

.top{
    display: none;
}

/* .main img {
   width: 10%;
} */

.main h1 {
    font-size: 25px;
    margin-top: 50px;
}

.words p {
    font-size: 12px;
}

.btn button {
    width: 60px;
    height: 30px;
    line-height: 30px;
}
.pic img {
    width: 100%;
    margin-top: 50px;
}

.main{
    width: 100%;
}

.learn{
    width: 100%;
}

h1{
    font-size: 25px;
}

.man h1{
    font-size: 25px;
}

.man img{
    width: 100%;
}

.ad p{
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.ad ul{
    margin-left: 20px;
}

.ad ul li{
    font-size: 12px;
}

.drink{
    width: 100%;
}

.drink img{
    width: 120px;
}

.drink img:last-child{
    width: 100px;
}

.drink img:first-child{
    margin-left: 25px;
}

.drink p {
    width: 294px;
    font-size: 12px;
}


}