
body{
    background-color: black;
    font-size: 20px;
    color: white;
}


/* ---------heard---------- */

header{
    /* width: 1920px;*/
    height: 150px;
    /* background-color: black; */
    margin-bottom: 21px;
}

.top img{
    /* height: 100%; */
    height: 130px;
    padding-top: 20px;
}

.top{
    /* height: 150px; */
    /* width: 1200px; */
    width: 63%;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top ul{
    display: flex;
    /* background-color: brown; */
}

.top ul li{
    margin-right: 60px;
    position: relative;
    display: flex;
    font-size: 20px;

}

.top a{
    text-decoration: none;
    color: white;
}

.top li ol{
    display: none;
    position: absolute;
    top: 30px;

}

.top li ol a{
    display: block;
    width: 80px;
    /* text-align: center; */
}

.top li:hover > ol{
    display: block;
}

/* ---------pho---------- */

.pho{
    background-image: url("../img/cocktail-background.png");
}


/* ---------main---------- */

.nav h1{
    font-size: 50px;
    font-weight: bolder;
    margin: 0 auto;
    margin-bottom: 113px;
}


.recipe h1{
    font-size: 50px;
    font-weight: bolder;
}

.main{
    display: flex;
    margin-top: 207px;
}



nav{
    margin-right: 181px;
}

nav li{
    margin-bottom: 289px;
}

nav a{
    display: block;
    width: 340px;
    height: 165px;
    border-radius: 50px;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 165px;
    /* position: absolute;
    top: 500px;
    left: 450px; */
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
}

.recipe{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe ul{
    width: 1200px;
    display: flex;
    align-content: space-around;
}