body{
    background-color: black;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
}

/* ---------heard---------- */

header{
    /* width: 1920px;*/
    height: 200px;
    /* background-color: black; */
    margin-bottom: 30px;
}

.top img{
    /* height: 100%; */
    height: 130px;
    padding-top: 20px;
}

.top{
    /* height: 150px; */
    width: 1200px;
    /* width: 63%; */
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top ul{
    display: flex;
    /* background-color: brown; */
}

.top ul li{
    margin-right: 60px;
    position: relative;
    display: flex;
    font-size: 20px;

}

.top a{
    text-decoration: none;
    color: white;
}

.top li ol{
    display: none;
    position: absolute;
    top: 30px;

}

.top li ol a{
    display: block;
    width: 80px;
    height: 30px;
    /* margin-bottom: 10px; */
    /* text-align: center; */
}

.top li:hover > ol{
    display: block;
}

/* ---------background---------- */



.background{
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 100px;
}



.one{
    /* height: 100px; */
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../img/cocktail/12\ of\ the\ world\'s\ most\ unusual\ cocktails\ _\ CNN.jfif);
    background-size: cover;
    /* outline: 10px solid  rgba(255, 4, 4); */
}


.two{
    /* height: 100px; */
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../img/cocktail/The\ Phoenix\ Cocktail\ -\ A\ Color\ Changing\ Shimmery\ Cocktail.jfif);
    background-size: cover;
    /* outline: 10px solid  rgba(255, 4, 4); */
}


.three{
    /* height: 100px; */
    background-color: blue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../img/cocktail/下載.jfif);
    background-size: top;
    /* outline: 10px solid  rgba(255, 4, 4); */
}

.four{
    /* height: 100px; */
    background-color: green;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-image: url(../img/cocktail/Thyme\ &\ Honey.jfif);
    background-size: cover;
    /* outline: 10px solid  rgba(255, 4, 4); */
}

.five{
    /* height: 100px; */
    background-color: yellow;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    background-image: url(../img/cocktail/PUNCH\ _\ DuBoudreau\ Cocktail\ Cocktail\ Recipe.jfif);
    background-size: cover;
    /* outline: 10px solid  rgba(255, 4, 4); */
}

.six{
    /* height: 100px; */
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    background-image: url(../img/cocktail/Blood\ Orange\ Paloma\ \(made\ with\ agave\ &\ refined\ sugar\ free!\).png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: 10px solid  rgba(255, 4, 4); */
    
}

.seven{
    /* height: 100px; */
    background-color: slategrey;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../img/cocktail/These\ Hauntingly\ Delicious\ Halloween\ Cocktails\ Will\ Complete\ Any\ Holiday\ Party.jfif);
    background-position: center;
    background-size: cover;
    /* outline: 10px solid  rgba(255, 4, 4); */
}

.eight{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    background-image: url(../img/cocktail/\'Red\ Treasure\'\ Poster\ by\ ACR\ ACR\ _\ Displate\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: 10px solid  rgba(255, 4, 4); */
}

/* ---------nav---------- */


.in{
    left: 0px;
    transition:  left 0.75s ease-in-out;;
}

nav{
    display: flex;
    margin-top: 10px;
    position: absolute;
    left: -200px;
    transition:  left 0.75s ease-in-out;;
}


.open{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    outline: 1px solid black;
    background-image: url("../img/cocktail/下載.jpg");
    background-size: cover;
    margin-left: 5px;
    /* margin-top: 100px; */
}

.btn{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 4px 6px 4px #c3c3c3, 1px 2px 4px #000000;
}

.btn:hover {
    cursor: pointer;
  }

.sky{
    position: relative;
}

.beside li{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    outline: 1px solid black;
    border-radius: 5%;
    background-color: white;
}

.beside li a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: right;
    line-height: 100px;
    font-size: 25px;
    padding-right: 10px;
    background-image: url("../img/cocktail/Mask\ group.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 10% center;
}

.beside li:nth-child(4) a{
    text-align: center;
    padding: 0;
    padding-left: 50px;
}

.beside li:nth-child(5) a{
    text-align: center;
    padding: 0;
    padding-left: 50px;
}


/* ---------recipe---------- */

.recipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    /* padding-left: 100px; */
    /* margin-left: 56px; */
    /* margin-bottom: 280px; */
}

.recipe ul{
    width: 57%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.recipe img{
    margin-right: 56px;
    margin-top: 120px;
    /* margin-left: 89px; */
}

.recipe p{
    width: 300px;
    text-align: center;
}

.nothing h1{
    width: 100%;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

/* ---------屁股---------- */

.numb{
    clear: both;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.numb a{
    text-decoration: none;
    margin-left: 10px;
    color: white;

}



/* ---------最後尾巴---------- */

footer img{
    width: 100%;
}

/* ---------警告標語---------- */

.warn{
    position: fixed;
    bottom: 0;
}


.warn img{
    width: 100%;
    display: block;
    height: auto
}




/* ------------------------------------------------rwd -------------------------------------------------------*/

@media screen and (max-width: 414px){

    .top{
        display: none;
    }

    .background{
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }

    .btn {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: bolder;
    text-shadow: 4px 6px 4px #c3c3c3, 1px 2px 4px #000000;
    }

    .open {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        outline: 1px solid black;
        background-image: url(../img/cocktail/下載.jpg);
        background-size: cover;
        margin-left: 5px;
    }

    .nothing h1 {
    font-size: 25px;
    }

    nav{
            left: -100px;
    }

    .beside li a {
        font-size: 10px;
        line-height: 40px;
    }

    .beside li {
        width: 100px;
        height: 40px;
    }

    .recipe ul{
        margin-right: 50px;
    }

    .recipe img{
        width: 176px;
    }

    .recipe p {
        font-size: 12px;
        width: 176px;
        text-align: center;
    }

    .numb{
            font-size: 15px;
    }
}