body{

    /* background-color: black; */
    color: white;
    font-size: 25px;
    line-height: 1.6;
    background-color: black;
    background-repeat: no-repeat;
}





/* ---------heard---------- */

header{
    /* width: 1920px;*/
    height: 150px;
    /* background-color: black; */
    margin-bottom: 21px;
}

.top img{
    /* height: 100%; */
    height: 130px;
    padding-top: 20px;
}

.top{
    /* height: 150px; */
    /* width: 1200px; */
    width: 63%;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top ul{
    display: flex;
    /* background-color: brown; */
}

.top ul li{
    margin-right: 60px;
    position: relative;
    display: flex;
    font-size: 20px;

}

.top a{
    text-decoration: none;
    color: white;
}

.top li ol{
    display: none;
    position: absolute;
    top: 30px;

}

.top li ol a{
    display: block;
    width: 80px;
    /* text-align: center; */
}

.top li:hover > ol{
    display: block;
}


/* ---------------- main --------------- */



.main{
    width: 1200px;
    margin: 0 auto;
}


/* ---------------- video --------------- */


.video{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
}

.video iframe{
    position: absolute;
    top:15px;
    left: 0;
    width: 100%;
    height: 100%;    
}


/* ---------------- text --------------- */

.text h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 50px 0px;
}

.text p{
    width: 893px;
    margin: 0 auto;
}


/* ---------------- photo --------------- */

.photo{
    margin-bottom: 160px;
}

.photo ul{
    /* width: 100%; */
    display: flex;
    margin: 0 auto;
    margin-top: 118px;
    margin-left: 213px;
}

.photo ul li{
    margin-right: 84px;
}

.photo p{
    text-align: center;
}


/* ---------最後尾巴---------- */

footer img{
    width: 100%;
}

/* ---------警告標語---------- */

.warn{
    height: 162px;
    position: fixed;
    bottom: 0;
}