body{

    /* background-color: black; */
    color: white;
    font-size: 25px;
    line-height: 1.6;
    color: black;
    /* background-color: white; */
    background-repeat: no-repeat;
    font-family: 'Segoe UI';
}


/* --------------漢堡線 -------------- */

.ham {
    position: absolute; 
    top: 6%; left: 10%;
    transform: translate(-50%, -50%);
    width: 60px; height: 55px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
  /*   background: rgba(255,255,255,0.3); */
  }
  .ham span {
    display: block;
    background: black;
    width: 42px;
    height: 4px;
    border-radius: 3px;
    transition: margin 0.25s 0.25s, transform 0.25s;
  }
  .ham .bar1 {margin-bottom: 8px;}
  .ham .bar3 {margin-top: 8px;}
  
  .ham.active{
      top: 6%;
      left: 10%;
      transition: 0.5s;
  }
  
  .ham.active span {
    transition: margin 0.25s , transform 0.25s 0.25s;
  }
  
  .ham.active .bar1 {
    margin-top: 8px;
    margin-bottom: -4px;
    transform: rotate(45deg);
  }
  .ham.active .bar2 {
    transform: rotate(45deg);
  }
  .ham.active .bar3 {
    margin-top: -4px;
    transform: rotate(135deg);
  }
  
  #menu{
      position: relative;
  }
  
  .menu-list{
      position: absolute;
      top: 0px;
      left: -414px;
      transition: 0.5s;
  }
  
  .menu-list.animate{
      left: 0px;
      transition: 0.5s;
  }
  
  .menu-list li{
      width: 414px;
      height: 50px;
      /* display: flex; */
      /* margin-bottom: 10px; */
  }
  
  .menu-list li a{
      font-size: 25px;
      display: block;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid black;
      color: white;
      background-color: black;
  }
  
  .menu-list li:nth-child(3) a{
      padding-left: 28px;
  }
  
  .menu-list li:nth-child(5) a{
      padding-left: 28px;
  }
  
  .menu-list li:nth-child(9) a{
      padding-left: 28px;
  }
  
  .hidden{
      display: none;
      transition: 1s;
  }
  
  .hidden2{
      display: none;
      transition: 1s;
  }
  
  .hidden3{
      display: none;
      transition: 1s;
  }
  
  .hidden.woo{
      display: block;
      transition: 1s;
  }
  
  .hidden2.woo{
      display: block;
      transition: 1s;
  }
  
  .hidden3.woo{
      display: block;
      transition: 1s;
  }




/* ---------heard---------- */

header{
    /* width: 1920px;*/
    color: white;
    height: 200px;
    background-color: black;
    margin-bottom: 21px;
}

.top img{
    /* height: 100%; */
    height: 130px;
    padding-top: 20px;
}

.top{
    /* height: 150px; */
    /* width: 1200px; */
    width: 63%;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top ul{
    display: flex;
    /* background-color: brown; */
}

.top ul li{
    margin-right: 60px;
    position: relative;
    display: flex;
    font-size: 20px;

}

.top a{
    text-decoration: none;
    color: white;
}

.top li ol{
    display: none;
    position: absolute;
    top: 30px;

}

.top li ol a{
    display: block;
    width: 80px;
    /* text-align: center; */
}

.top li:hover > ol{
    display: block;
}


/* -------------------------main------------------------- */

.main{
    width: 1200px;
    /* height: 1714px; */
    margin: 0 auto;
    margin-top: 289px;
    display: flex;
}

.photo{
    width: 600px;
    height: 559px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photo img{
    margin-bottom: 5px;
}

.photo img:last-child{
    margin-left: 32px;
    margin-top: 70px;
}

.text{
    width: 600px;
    padding-left: 30px;
    position: relative;
}

.text h1{
    font-size: 50px;
    font-weight: bolder;
    
}

.text p {
    font-size: 20px;
    width: 496px;
    margin-top: 44px;
    /* border-bottom: 1px solid black; */
}

.text p::before {
    content: ''; 
    display: block; 
    position: absolute; 
    top: 199px; 
    right: 6px; 
    width: 581px; 
    height: 1px; 
    background-color: black; 
}

.text p + p{
    color: rgba(255, 4, 4, 1);
}


.text a{
    display: block;
    width: 379px;
    height: 63px;
    border-radius: 50px;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 63px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 125px;
    /* position: absolute;
    top: 500px;
    left: 450px; */
    text-decoration: none;
}

.text img{
    position: absolute;
    top: 330px;
    right: 220px;

}
  
input[type="text"] {
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 4px;
  }

.plus-btn .minus-btn {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #ddd;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
.plus-btn:hover .minus-btn:hover {
    background-color: #ccc;
  }


/* -------------------------section------------------------- */

.section{
    width: 1200px;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 355px;
}

.section p {
    font-size: 20px;
}


/* -------------------------bottom------------------------- */


.bottom{
    background-color: rgba(255, 234, 234, 1);
}

.bottom h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {

    width: 1200px;
    text-align: center;
    font-size: 18px;
    background:  rgba(255, 234, 234, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 533px;
  }

  .swiper-slide img {
    display: block;
    max-lines: 30px;
    /* width: 100%; */
    width: 1200px;
    /* height: 100%; */
    /* height: 533px; */
    object-fit: cover;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 350px;
  }

  /* ---------最後尾巴---------- */

footer img{
    width: 100%;
}

/* ---------警告標語---------- */

.warn{
    position: fixed;
    bottom: 0;
    z-index: 1;
}


.warn img{
    width: 100%;
    display: block;
    height: auto
}


/* ---------hover---------- */


.text a:hover{
    color: white;
    background-color: rgba(255, 4, 4, 1);
}


/* ------------------------ top swiper ------------------------*/
    .mySwiper{
        display: none;
    }

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

/* ------------------------------------------------rwd -------------------------------------------------------*/

@media screen and (max-width: 414px){

.salesmam{
    display: block;
    float: right;
    position: absolute;
    top: 15px;
    right: 0px;
    z-index: 1;
}


.ham{
    display: block;
    z-index: 99;
}

.menu-list{
    z-index: 99;
}

.top{
    display:none;
}

.mySwiper{
    display: block;
    margin-top: 80px;
}

.main{
    width: 100%;
}

.photo{
    display: none;
}

.section{
    width: 100%;
}

.text {
    width: 414px;
    padding-left: 0;
    margin-bottom: 20px;
}

.text h1{
    padding-left: 5px;
}

.text p {
    font-size: 20px;
    width: 400px;
    padding: 0 5px;
}

.text p::before {
    right: 0px; 
    width: 414px; 

}

.bottom{
    display: none;
}

.swiper.mySwiper{
    display: none;
}

.section h2{
    padding-left: 5px;
}

.section p{
    width: 400px;
    padding: 5px;
}

.quantity{
    width: 400px;
    padding-left: 5px;
}

header{
    display: none;
}

/*------------------------ 最後尾巴 ----------------------*/

footer{
    display: none;
}

}