body{

    /* background-color: black; */
    color: white;
    font-size: 25px;
    line-height: 1.6;
    color: black;
    /* background-color: white; */
    background-repeat: no-repeat;
}





/* ---------heard---------- */

header{
    /* width: 1920px;*/
    color: white;
    height: 180px;
    background-color: black;
    margin-bottom: 21px;
}

.top img{
    /* height: 100%; */
    height: 130px;
    padding-top: 20px;
}

.top{
    /* height: 150px; */
    /* width: 1200px; */
    width: 63%;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top ul{
    display: flex;
    /* background-color: brown; */
}

.top ul li{
    margin-right: 60px;
    position: relative;
    display: flex;
    font-size: 20px;

}

.top a{
    text-decoration: none;
    color: white;
}

.top li ol{
    display: none;
    position: absolute;
    top: 30px;

}

.top li ol a{
    display: block;
    width: 80px;
    /* text-align: center; */
}

.top li:hover > ol{
    display: block;
}


/* -------------------------main------------------------- */

.main{
    width: 1200px;
    /* height: 1714px; */
    margin: 0 auto;
    margin-top: 289px;
    display: flex;
}

.photo{
    width: 600px;
    height: 559px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photo img{
    margin-bottom: 5px;
}

.photo img:last-child{
    margin-left: 32px;
    margin-top: 70px;
}

.text{
    width: 600px;
    padding-left: 30px;
}

.text h1{
    font-size: 50px;
    font-weight: bolder;
    
}

.text p {
    font-size: 20px;
    width: 496px;
    margin-top: 44px;
    /* border-bottom: 1px solid black; */
}

.text p::before {
    content: ''; 
    display: block; 
    position: absolute; 
    top: 653px; 
    right: 356px; 
    width: 581px; 
    height: 1px; 
    background-color: black; 
}

.text p + p{
    color: rgba(255, 4, 4, 1);
}


.text a{
    display: block;
    width: 379px;
    height: 63px;
    border-radius: 50px;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 63px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 125px;
    /* position: absolute;
    top: 500px;
    left: 450px; */
    text-decoration: none;
}

/* -------------------------section------------------------- */

.section{
    width: 1200px;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 355px;
}

.section p {
    font-size: 20px;
}


/* -------------------------bottom------------------------- */


.bottom{
    background-color: rgba(255, 234, 234, 1);
}

.bottom h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {

    width: 1200px;
    text-align: center;
    font-size: 18px;
    background:  rgba(255, 234, 234, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 533px;
  }

  .swiper-slide img {
    display: block;
    max-lines: 30px;
    /* width: 100%; */
    width: 1200px;
    /* height: 100%; */
    /* height: 533px; */
    object-fit: cover;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 350px;
  }

  /* ---------最後尾巴---------- */

footer img{
    width: 100%;
}

/* ---------警告標語---------- */

.warn{
    height: 162px;
    position: fixed;
    bottom: 0;
    z-index:1;
}


/* ---------hover---------- */


.text a:hover{
    color: white;
    background-color: rgba(255, 4, 4, 1);
}